@media only screen and (min-width:1191px) and (max-width: 1300px){
	}

@media only screen and (min-width:1101px) and (max-width: 1190px){
	
			.container{ width:95%;}
s	.half-divider::before{ width:80%;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 16px; padding:13px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none; box-shadow:none; position:relative;}
	.cd-tabs-navigation{ width:auto;	}
	.faq-img{ text-align:center;}
	.tab-image img , .faq-img img , .welcome-img img{ display:block; width:auto; margin:0 auto; float:none;}
	.flexslider .slides img , .banner{ height:500px;}
	.nav > li > a{font-size:13px; padding-left:10px; padding-right:10px; }
	.nav-main{ float:right; }

	}



@media only screen and (min-width:1025px) and (max-width: 1100px){
		.container{ width:95%;}
	.half-divider::before{ width:80%;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 16px; padding:13px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none; box-shadow:none; position:relative;}
	.cd-tabs-navigation{ width:auto;	}
	.faq-img{ text-align:center;}
	.tab-image img , .faq-img img , .welcome-img img{ display:block; width:auto; margin:0 auto; float:none;}
	.flexslider .slides img , .banner{ height:500px;}
	.nav > li > a{font-size:13px; padding-left:10px; padding-right:10px; }
.nav-main{ float:right; width:62%;}
}

@media only screen and (min-width:993px) and (max-width:1024px){
		.container{ width:95%;}
	.half-divider::before{ width:80%;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 16px; padding:13px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none; box-shadow:none; position:relative;}
	.cd-tabs-navigation{ width:auto;	}
	.faq-img{ text-align:center;}
	.tab-image img , .faq-img img , .welcome-img img{ display:block; width:auto; margin:0 auto; float:none;}
	.flexslider .slides img , .banner{ height:500px;}
	.nav > li > a{font-size:13px; padding-left:10px; padding-right:10px; }
.nav-main{ float:right;}
	}

@media only screen and (min-width:901px) and (max-width:992px){
	
		.container{ width:95%;}
	.half-divider::before{ width:80%;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 16px; padding:13px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none; box-shadow:none; position:relative;}
	.cd-tabs-navigation{ width:auto;	}
	.faq-img{ text-align:center;}
	.tab-image img , .faq-img img , .welcome-img img{ display:block; width:auto; margin:0 auto; float:none;}
	.flexslider .slides img , .banner{ height:500px;}
.nav-main{ float:right; width:62%;}
.logo{ float:left; width:36%;}

	
}

@media only screen and (min-width:801px) and (max-width:900px){
	
	.container{ width:95%;}
	.navbar-nav {
	float: none;
	text-align: center;
	margin-right: -32px;
	clear: both;
	
	}
	.half-divider::before{ width:80%;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 16px; padding:13px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none; box-shadow:none; position:relative;}
	.cd-tabs-navigation{ width:auto;	}
	.faq-img{ text-align:center;}
	.tab-image img , .faq-img img , .welcome-img img{ display:block; width:auto; margin:0 auto; float:none;}
	.flexslider .slides img , .banner{ height:500px;}
.popup-min , .deposite-box{ width:90%; left:5%;}
.nav-main{ float:right;}
.logo{ float:left; width:36%;}
}
	
@media only screen and (min-width:768px) and (max-width:800px){
			.container{ width:95%;}
		ul.header-num{  text-align:center;}
		ul.header-num li{ margin-left:5px;}
		.logo{ float:left; width:100%; text-align:center;}
		.logo img{ width:auto}
		.banner , .flexslider .slides img{ height:auto;}
		.flex-caption{  top:50px; left:10%; width:60%;}
		.flex-caption h3{ font-size:25px; margin:0;}
		.flex-caption p{ margin-top:5px; font-size:14px; line-height:normal;}
		.flex-direction-nav a{ top:50%; transform:scale(0.7);}
		a.banner-link{ margin-top:10px; padding:15px 30px;}
		#part_1{ padding:20px 0;}
		h4.main-head1 { font-size:20px;}
		.half-divider::before{ width:80%;}
		h4.main-head{ font-size:25px;}
		.cd-tabs-navigation{ width:100%;}
		.tab-image img , .faq-img img{ display:block; width:auto; margin:0 auto; float:none;}
		.tab-image { margin-left:0; margin-bottom:15px; float:none;}
		footer p.copy , .fooyet-social{ float:none; text-align:center;}
		.cd-tabs-navigation a.selected{ box-shadow:none;}
		.cd-tabs-navigation a{ font-size: 16px; padding:13px 10px;}
		.cd-tabs-navigation li{ margin-bottom:6px;}
		.cd-tabs nav{ background:none; box-shadow:none; position:relative;}
		.welcome-img img{ margin:0 auto;}
		.faq-img{ text-align:center;}
		.navbar-nav {
    float: none;
    text-align: center;
    margin-right: -32px;
    clear: both;
}.cd-tabs-content li{ padding:25px;}
.popup-min , .deposite-box{ width:90%; left:5%;} 
	.popup-head h3{ font-size:23px;}
	.navbar-nav > li{ float:none;}
	.nav-main{ clear:both;}

	
}


@media only screen and (min-width:701px) and (max-width:767px)
{
		.container{ width:95%;}
		ul.header-num{  text-align:center;}
		ul.header-num li{ margin-left:5px;}
		.logo{ float:left; width:74%;}
		.nav-main{ padding-right:15px;}
		.logo img{ width:auto}
		.navbar-toggle{ border:none; margin-top:0; margin-right:8px;}
		.navbar-toggle .icon-bar{ width:27px;}
		.navbar-default .navbar-toggle:hover , .navbar-default .navbar-toggle:focus{ background:none;}
		.navbar-default .navbar-toggle:hover .icon-bar , .navbar-default .navbar-toggle:focus .icon-bar{ background:#fff;}
		.navbar-default .navbar-collapse{ border:none; background:rgba(0,0,0,0.2)}
		.navbar-nav{ float:none; text-align:left; margin:0;}
		.navbar-nav > li{ display:block;}
		.collapse.in{ margin-top:5px;}
		.banner , .flexslider .slides img{ height:auto;}
		.flex-caption{  top:50px; left:10%; width:60%;}
		.flex-caption h3{ font-size:25px; margin:0;}
		.flex-caption p{ margin-top:5px; font-size:14px; line-height:normal;}
		.flex-direction-nav a{ top:50%; transform:scale(0.7);}
		a.banner-link{ margin-top:10px; padding:15px 30px;}
		#part_1{ padding:20px 0;}
		h4.main-head1 { font-size:20px;}
		.half-divider::before{ width:80%;}
		h4.main-head{ font-size:25px;}
		.cd-tabs-navigation{ width:100%;}
		.tab-image img , .faq-img img{ display:block; width:auto; margin:0 auto; float:none;}
		.tab-image { margin-left:0; margin-bottom:15px; float:none;}
		footer p.copy , .fooyet-social{ float:none; text-align:center;}
		.cd-tabs-navigation a.selected{ box-shadow:none;}
		.cd-tabs-navigation a{ font-size: 15px; padding: 5px 10px;}
		.cd-tabs-navigation li{ margin-bottom:6px;}
		.cd-tabs nav{ background:none;}
		.welcome-img img{ margin:0 auto;}
		.faq-img{ text-align:center;}
			.popup-min , .deposite-box{ width:90%; left:5%;} 
	.popup-head h3{ font-size:23px;}
	.set-box{ margin-left:0; margin-top:15px;}
		.dropdown-menu{ width:100% !important; background:rgba(0,0,0,0.4); opacity:1 !important; display:block !important;}
	.navbar-nav .open .dropdown-menu{background:rgba(0,0,0,0.4)}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus , .dropdown-menu > li > a{ color:#ddd;}


	}


	
	
@media only screen and (min-width:601px) and (max-width:700px){
	
	.container{ width:95%;}
		ul.header-num{ font-size:12px; text-align:center;}
		ul.header-num li{ margin-left:5px;}
		.logo{ float:left; width:74%;}
		.nav-main{ padding-right:15px;}
		.logo img{ width:auto}
		.navbar-toggle{ border:none; margin-top:0; margin-right:8px;}
		.navbar-toggle .icon-bar{ width:27px;}
		.navbar-default .navbar-toggle:hover , .navbar-default .navbar-toggle:focus{ background:none;}
		.navbar-default .navbar-toggle:hover .icon-bar , .navbar-default .navbar-toggle:focus .icon-bar{ background:#fff;}
		.navbar-default .navbar-collapse{ border:none; background:rgba(0,0,0,0.2)}
		.navbar-nav{ float:none; text-align:left; margin:0;}
		.navbar-nav > li{ display:block;}
		.collapse.in{ margin-top:5px;}
		.banner , .flexslider .slides img{ height:auto;}
		.flex-caption{ position:relative; background:rgba(0,0,0,0.5); top:0; left:0; width:100%; padding:15px;}
		.flex-caption h3{ font-size:14px; margin:0;}
		.flex-caption p{ margin-top:0; font-size:12px; line-height:normal;}
		.flex-direction-nav a{ top:15%; transform:scale(0.7);}
		a.banner-link{ margin-top:10px; padding:15px 30px;}
		#part_1{ padding:20px 0;}
		h4.main-head1 { font-size:20px;}
		.offer-icon{ margin:5px auto; float:none;}
		.offer-text{ width:100%; text-align:center;}
		.half-divider::before{ width:90%;}
		h4.main-head{ font-size:25px;}
		.cd-tabs-navigation{ width:100%;}
		.tab-image img , .faq-img img{ display:block; width:auto; margin:0 auto;}
		.tab-image { margin-left:0; margin-bottom:15px; float:none;}
		footer p.copy , .fooyet-social{ float:none; text-align:center;}
		.cd-tabs-navigation a.selected{ box-shadow:none;}
		.cd-tabs-navigation a{ font-size: 12px; padding: 5px 10px;}
		.cd-tabs-navigation li{ margin-bottom:6px;}
		.cd-tabs nav{ background:none;}
			.popup-min , .deposite-box{ width:94%; left:4%;} 
	.popup-head h3{ font-size:23px;}
	.mas-table{ overflow:scroll; width:100%;}
	.set-box{ margin-left:0; margin-top:15px;}
			.dropdown-menu{ width:100% !important; background:rgba(0,0,0,0.4); opacity:1 !important; display:block !important;}
	.navbar-nav .open .dropdown-menu{background:rgba(0,0,0,0.4)}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus , .dropdown-menu > li > a{ color:#ddd;}


}


@media only screen and (min-width:481px) and (max-width:600px)
{
.container{ width:95%;}
	ul.header-num{ font-size:12px; text-align:center;}
	ul.header-num li{ margin-left:5px;}
	.logo{ float:left; width:74%;}
	.nav-main{ padding-right:15px;}
	.logo img{ width:auto}
	.navbar-toggle{ border:none; margin-top:0; margin-right:8px;}
	.navbar-toggle .icon-bar{ width:27px;}
	.navbar-default .navbar-toggle:hover , .navbar-default .navbar-toggle:focus{ background:none;}
	.navbar-default .navbar-toggle:hover .icon-bar , .navbar-default .navbar-toggle:focus .icon-bar{ background:#fff;}
	.navbar-default .navbar-collapse{ border:none; background:rgba(0,0,0,0.2)}
	.navbar-nav{ float:none; text-align:left; margin:0;}
	.navbar-nav > li{ display:block;}
	.collapse.in{ margin-top:5px;}
	.banner , .flexslider .slides img{ height:auto;}
	.flex-caption{ position:relative; background:rgba(0,0,0,0.5); top:0; left:0; width:100%; padding:15px;}
	.flex-caption h3{ font-size:14px; margin:0;}
	.flex-caption p{ margin-top:0; font-size:12px; line-height:normal;}
	.flex-direction-nav a{ top:15%; transform:scale(0.7);}
	a.banner-link{ margin-top:10px; padding:15px 30px;}
	#part_1{ padding:20px 0;}
	h4.main-head1 { font-size:20px;}
	.offer-icon{ margin:5px auto; float:none;}
	.offer-text{ width:100%; text-align:center;}
	.half-divider::before{ width:90%;}
	h4.main-head{ font-size:25px;}
	.cd-tabs-navigation{ width:100%;}
	.tab-image img , .faq-img img{ display:block; width:auto; margin:0 auto;}
	.tab-image { margin-left:0; margin-bottom:15px;  float:none;}
	footer p.copy , .fooyet-social{ float:none; text-align:center;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 12px; padding: 5px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none;}	
	.login-field .form-control{ width:84%;}
		.popup-min , .deposite-box{ width:94%; left:4%;} 
	.popup-head h3{ font-size:24px;}
	.mas-table{ overflow:scroll; width:100%;}
		.faq-min .pogramsArea ul li a{ height:auto; line-height: normal; padding: 5px 15px; font-size:12px;}
	.faq-det .pogramsArea ul li a span.icon{ width:20px;}
	.set-box{ margin-left:0; margin-top:15px;}
	.chart img{ display:block; width:100%;}
	.dropdown-menu{ width:100% !important; background:rgba(0,0,0,0.4); opacity:1 !important; display:block !important;}
	.navbar-nav .open .dropdown-menu{background:rgba(0,0,0,0.4)}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus , .dropdown-menu > li > a{ color:#ddd;}



}
	
@media only screen and (min-width:321px) and (max-width:480px)
{
.container{ width:95%;}
	ul.header-num{ font-size:12px; text-align:center;}
	ul.header-num li{ margin-left:5px;}
	.logo{ float:left; width:74%;}
	.nav-main{ padding-right:15px;}
	.logo img{ width:auto}
	.navbar-toggle{ border:none; margin-top:0; margin-right:8px;}
	.navbar-toggle .icon-bar{ width:27px;}
	.navbar-default .navbar-toggle:hover , .navbar-default .navbar-toggle:focus{ background:none;}
	.navbar-default .navbar-toggle:hover .icon-bar , .navbar-default .navbar-toggle:focus .icon-bar{ background:#fff;}
	.navbar-default .navbar-collapse{ border:none; background:rgba(0,0,0,0.2)}
	.navbar-nav{ float:none; text-align:left; margin:0;}
	.navbar-nav > li{ display:block;}
	.collapse.in{ margin-top:5px;}
	.banner , .flexslider .slides img{ height:auto;}
	.flex-caption{ position:relative; background:rgba(0,0,0,0.5); top:0; left:0; width:100%; padding:15px;}
	.flex-caption h3{ font-size:14px; margin:0;}
	.flex-caption p{ margin-top:0; font-size:12px; line-height:normal;}
	.flex-direction-nav a{ top:15%; transform:scale(0.7);}
	a.banner-link{ margin-top:10px; padding:15px 30px;}
	#part_1{ padding:20px 0;}
	h4.main-head1 { font-size:20px;}
	.offer-icon{ margin:5px auto; float:none;}
	.offer-text{ width:100%; text-align:center;}
	.half-divider::before{ width:90%;}
	h4.main-head{ font-size:25px;}
	.cd-tabs-navigation{ width:100%;}
	.tab-image img , .faq-img img{ display:block; width:100%;}
	.tab-image { margin-left:0; margin-bottom:15px;}
	footer p.copy , .fooyet-social{ float:none; text-align:center;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 12px; padding: 5px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none;}
	.login-field .form-control{ width:84%;}
		.popup-min , .deposite-box{ width:94%; left:4%;} 
	.popup-head h3{ font-size:23px;}
	.mas-table{ overflow:scroll; width:100%;}
	.dep-box .form-control{ border-right:1px solid #fff; margin-bottom:5px;  width:95%}
		.faq-min .pogramsArea ul li a{ height:auto; line-height: normal; padding: 5px 15px; font-size:12px;}
	.faq-det .pogramsArea ul li a span.icon{ width:20px;}
	.set-box{ margin-left:0; margin-top:15px;}
	.chart img{ display:block; width:100%;}
	.dropdown-menu{ width:100% !important; background:rgba(0,0,0,0.4); opacity:1 !important; display:block !important;}
	.navbar-nav .open .dropdown-menu{background:rgba(0,0,0,0.4)}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus , .dropdown-menu > li > a{ color:#ddd;}


}	

	
@media only screen and (min-width:240px) and (max-width:320px)

{
	.container{ width:95%;}
	ul.header-num{ font-size:12px; text-align:center;}
	ul.header-num li{ margin-left:5px;}
	.logo{ float:left; width:74%;}
	.nav-main{ padding-right:15px;}
	.logo img{ width:100%;}
	.navbar-toggle{ border:none; margin-top:0; margin-right:8px;}
	.navbar-toggle .icon-bar{ width:27px;}
	.navbar-default .navbar-toggle:hover , .navbar-default .navbar-toggle:focus{ background:none;}
	.navbar-default .navbar-toggle:hover .icon-bar , .navbar-default .navbar-toggle:focus .icon-bar{ background:#fff;}
	.navbar-default .navbar-collapse{ border:none; background:rgba(0,0,0,0.2)}
	.navbar-nav{ float:none; text-align:left; margin:0;}
	.navbar-nav > li{ display:block;}
	.collapse.in{ margin-top:5px;}
	.banner , .flexslider .slides img{ height:auto;}
	.flex-caption{ position:relative; background:rgba(0,0,0,0.5); top:0; left:0; width:100%; padding:15px;}
	.flex-caption h3{ font-size:14px; margin:0;}
	.flex-caption p{ margin-top:0; font-size:12px; line-height:normal;}
	.flex-direction-nav a{ top:15%; transform:scale(0.7);}
	a.banner-link{ margin-top:10px; padding:15px 30px;}
	#part_1{ padding:20px 0;}
	h4.main-head1 { font-size:20px;}
	.offer-icon{ margin:5px auto; float:none;}
	.offer-text{ width:100%; text-align:center;}
	.half-divider::before{ width:90%;}
	h4.main-head{ font-size:25px;}
	.cd-tabs-navigation{ width:100%;}
	.tab-image img , .faq-img img{ display:block; width:100%;}
	.tab-image { margin-left:0; margin-bottom:15px;}
	footer p.copy , .fooyet-social{ float:none; text-align:center;}
	.cd-tabs-navigation a.selected{ box-shadow:none;}
	.cd-tabs-navigation a{ font-size: 12px; padding: 5px 10px;}
	.cd-tabs-navigation li{ margin-bottom:6px;}
	.cd-tabs nav{ background:none;}
	.login-field .form-control{ width:84%;}
	.popup-min , .deposite-box{ width:94%; left:4%;} 
	.popup-head h3{ font-size:23px;}
	.mas-table{ overflow:scroll; width:100%;}
	.dep-box .form-control{ border-right:1px solid #fff; margin-bottom:5px; width:95%}
	.faq-min .pogramsArea ul li a{ height:auto; line-height: normal; padding: 5px 15px; font-size:12px;}
	.faq-det .pogramsArea ul li a span.icon{ width:20px;}
	.set-box{ margin-left:0; margin-top:15px;}
	.chart img{ display:block; width:100%;}
	.dropdown-menu{ width:100% !important; background:rgba(0,0,0,0.4); opacity:1 !important; display:block !important;}
	.navbar-nav .open .dropdown-menu{background:rgba(0,0,0,0.4)}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus , .dropdown-menu > li > a{ color:#ddd;}
	
}