/* Add here all your CSS customizations */
body {
  line-height: 20px;
}

.datatable thead, .table-bordered thead {
    background: darkblue;
    color:white;
}
.delete-button {
  height:28px;
  padding:3px 15px;
  font-size:13px;
  text-align:center;
}

.login-top {
  width:100%;
  height:calc(50vh - 220px);
  background: url(/assets/img/login-top.png) repeat-x;
  background-size: contain;
  position: relative;
}

.login-body {
  height:410px;
  width:100%;
  background:white;
  position: relative;
}

.login-bottom {
  height:calc(50vh - 130px);
  background: url(/assets/img/login-bottom.png) repeat-x;
  background-size: contain;
  width:100%;
  position: relative;
}

.login-logo {
  position: absolute;
  bottom:10px;
  left:calc(50% - 250px);
  width:600px;
}

.login-divider-vertical {
  width:1px;
  height:300px;
  margin-top:50px;
  background: url(/assets/img/login-divider.png);
  background-size:cover;
  margin-left: 20px;
  margin-right: 40px;
  opacity: 0.4;
}

.sidebar-left {
  width:250px
}
@media only screen and (min-width: 768px) {
  html.fixed .content-body {
    margin-left: 250px;
  }
}

.content-body {
  display: table-cell;
  padding: 30px 20px 20px 20px;
  position: relative;
  vertical-align: top;
}